.main_div {
  display: flex;
  flex-flow: column;
  position: sticky;

  width: 100%;
  
  overflow-x: hidden;
  background-color: rgb(255, 253, 147);
}

.welcome_header {
  display: flex;
  flex-flow: column;
  position: sticky;

  font-size: 30px;
  font-size: 10vmin;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;

  text-align: center;
  justify-content: center;

  height: 100vh;
}

.scroll_down {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.p5_shapes_div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  overflow-y: hidden;
  border-bottom: 8px solid red;
}

.about_me_div {
  display: flex;
  flex-flow: row;

  font-size: 30px;
  font-size: 10vmin;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;

  height: 100vh;
}

.about_left_div {
  display: flex;
  flex-flow: column nowrap;
  float: left;
  padding: 2%;
  max-width: 45%;
  width: fit-content;
  justify-content: center;

  background-color: rgb(137, 134, 193);
}
