.main_div {
  display: flex;
  flex-flow: column;
  position: sticky;

  width: 100%;
  
  overflow-x: hidden;
  background-color: rgb(255, 253, 147);
}

.welcome_header {
  display: flex;
  flex-flow: column;
  position: sticky;

  font-size: 30px;
  font-size: 10vmin;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;

  text-align: center;
  justify-content: center;

  height: 100vh;
}

.scroll_down {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.p5_shapes_div {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  overflow-y: hidden;
  border-bottom: 8px solid red;
}

.about_me_div {
  display: flex;
  flex-flow: row;

  font-size: 20px;
  font-size: 6vw;
  font-family: 'Rubik', sans-serif;
  font-weight: 700;

  height: 100vh;
}

.about_left_div {
  display: flex;
  flex-flow: column nowrap;
  position: sticky;
  float: left;

  padding: 2% 0 2% 0;
  max-width: 45%;
  width: 40%;

  justify-content: center;
  overflow-x: hidden;

  font-size: 20px;
  font-size: 5vw;

  background-color: rgb(137, 134, 193);
}

.skill {
  padding-left: 2%;
}

.skill:hover{
  border-left: 1vw solid red;
  background-color: rgb(255, 253, 147);
  padding-left: 4%;
  cursor: pointer;
}
